<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add com.kotki.backend.Cat</title>
</head>
<body>
<h2>Add Cat</h2>
<form action="#" th:object="${cat}" th:action="@{/addCat}" method="POST">
    <p>Cat name: </p><input th:field="*{name}" id="name" type="input" name="name" placeholder="enter cat name" required></br>
    <p>Cat age: </p><input th:field="*{age}" id="age" type="input" name="age" placeholder="choose age" required></br>
    </br>
    <button type="submit" id="confirm">Confirm</button>
</form>



</body>
</html>